body {
  --dg-filetree-padding: 10px;
  --dg-notelink-padding: 10px;
  --dg-notelink-size: medium;
  --dg-search-btn-radius: 2px;
  --dg-search-btn-icon-size: 18px;
}

.filetree-sidebar h1 {
  margin: 10px;
}

.filetree-sidebar .search-button {
  width: auto;
  margin: 10px;
  padding: 18px;
  justify-content: center;
  box-shadow: 1px 2px 0 var(--background-modifier-box-shadow);
}

.filetree-sidebar .filename {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filetree-sidebar .notelink.active-note .filename {
  font-weight: 600;
  text-decoration: underline !important;
  text-decoration-color: var(--text-accent) !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 3px;
}

.filetree-sidebar .filename[data-note-icon]::before {
  margin-right: 8px;
  vertical-align: -0.125em;
}

body.filetree-note-icon .filename[data-note-icon="home"]::before {
  background-image: url("/img/user/home.svg");
}

body.filetree-note-icon .filename[data-note-icon="craft"]::before {
  background-image: url("/img/user/craft.svg");
}
