body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

    /* =========================================
    ROOT
    ========================================= */
    .content :not(pre) > code {
        color: #526b73;
        background-color: transparent;
    }

    /* =========================================
    HOME PAGE
    ========================================= */
    .content.home > header > h1 {
        display: none;
    }

}
